*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,249,242,1) 0%, rgba(255,135,10,1) 100%, rgba(255,130,0,1) 100%, rgba(255,130,0,1) 100%); 
}

.login-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.781);

}

.login-box form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px #0000004b;
    border-radius: 3px;
    padding: 2rem;
}

.login-box form > *{
    margin: 0.75rem;
}

ion-icon {
    font-size: 30px;
}

input[type="text"], input[type="password"]{
    padding: 0.5rem;
    width: 100%;
}

input[type="submit"]{
    background-color: bisque;
    border: 1px solid rgba(0, 0, 0, 0.288);
    cursor: pointer;
    padding: 0.5rem;
    width: 50%;
    margin-top: 30px;
}

input[type="submit"]:hover{
    background-color: rgb(255, 189, 109);
}